<section class="py-32">
    <div
        class="container mx-auto px-4 flex flex-col gap-8 lg:flex-row lg:gap-16"
    >
        <div class="mb-8 md:mb-14 lg:min-w-[30%]">
            <p
                class="text-wider mb-2 text-sm font-medium text-muted-foreground"
            >
                Nuestros
            </p>
            <h2
                class="mb-4 text-white w-full text-4xl font-medium md:mb-5 md:text-5xl lg:mb-6 lg:max-w-xs lg:text-6xl"
            >
                Blogs
            </h2>
            <p class="text-white md:mb-5 lg:font-semibold lg:mb-6 lg:max-w-md">
                ¿Listo/a para sumergirte en artículos que despiertan tu
                creatividad, resuelven tus dudas y te mantienen un paso
                adelante? Aquí aguardan las publicaciones más recientes de
                nuestro blog, diseñadas para curiosos incansables, profesionales
                ambiciosos y mentes inquietas como la tuya.
            </p>
        </div>
        <div class="grid gap-x-4 gap-y-8 md:grid-cols-2 lg:gap-x-6 lg:gap-y-12">
            <a
                href="/blog/sabores-del-mar-en-coquimbo"
                class="group flex flex-col"
            >
                <div class="mb-4 flex overflow-clip rounded-xl md:mb-5">
                    <div class="transition duration-300 group-hover:scale-105">
                        <img
                            src="/gallery/gallery24.webp"
                            alt="Sabores del Mar en Coquimbo: Platos Emblemáticos de
                        Dominga Domínguez"
                            class="aspect-[3/2] h-full w-full object-cover object-center"
                            transition:name="imgsabores-del-mar-en-coquimbo"
                        />
                    </div>
                </div>
                <div
                    class="flex w-fit items-center rounded-full border border-border p-1"
                >
                    <div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80"
                    >
                        Gastronomia
                    </div>
                    <div class="mx-2 text-xs text-white font-medium">
                        7 min de lectura
                    </div>
                </div>
                <div
                    class="mb-2 flex items-start gap-4 pt-4 md:mb-3 md:pt-4 lg:pt-4"
                >
                    <span
                        class="line-clamp-3 text-white flex-1 break-words text-lg font-medium md:text-2xl lg:text-2xl xl:text-3xl"
                    >
                        Sabores del Mar en Coquimbo: Platos Emblemáticos de
                        Dominga Domínguez
                    </span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right text-white size-6 shrink-0"
                    >
                        <path d="M7 7h10v10"></path>
                        <path d="M7 17 17 7"></path>
                    </svg>
                </div>
                <div
                    class="mb-4 line-clamp-2 text-sm text-muted-foreground md:mb-5 md:text-base"
                >
                    Coquimbo y La Serena son reconocidos por su rica tradición
                    gastronómica, donde los sabores del mar se fusionan con
                    técnicas culinarias tradicionales para crear platos
                    inolvidables. En Dominga Domínguez, ofrecemos una selección
                    de preparaciones que realzan la frescura y calidad de los
                    mariscos locales. Hoy te presentamos cuatro platos icónicos
                    que todo amante de la cocina costera debe probar.
                </div>
                <div class="flex items-center gap-2">
                    <span
                        class="relative flex shrink-0 overflow-hidden rounded-full size-12"
                    >
                        <img
                            class="aspect-square h-full w-full"
                            alt="Avatar de usuario"
                            src="https://shadcnblocks.com/images/block/avatar-1.webp"
                        />
                    </span>
                    <div class="flex flex-col gap-px">
                        <span class="text-xs text-muted-foreground">
                            17 Feb 2025
                        </span>
                    </div>
                </div>
            </a>
            <a
                href="/blog/sabores-de-verano-en-la-serena"
                class="group flex flex-col"
            >
                <div class="mb-4 flex overflow-clip rounded-xl md:mb-5">
                    <div class="transition duration-300 group-hover:scale-105">
                        <img
                            src="/gallery/gallery31.webp"
                            alt="Sabores de Verano en La Serena y Coquimbo: Descubre los Platos Imperdibles de Dominga Domínguez"
                            class="aspect-[3/2] h-full w-full object-cover object-center"
                            transition:name="imgsabores-de-verano-en-la-serena"
                        />
                    </div>
                </div>
                <div
                    class="flex w-fit items-center rounded-full border border-border p-1"
                >
                    <div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80"
                    >
                        Gastronomía
                    </div>
                    <div class="mx-2 text-xs font-medium text-white">
                        5 min de lectura
                    </div>
                </div>
                <div
                    class="mb-2 flex items-start gap-4 pt-4 md:mb-3 md:pt-4 lg:pt-4"
                >
                    <span
                        class="line-clamp-3 text-white flex-1 break-words text-lg font-medium md:text-2xl lg:text-2xl xl:text-3xl"
                    >
                        Sabores de Verano en La Serena y Coquimbo: Descubre los
                        Platos Imperdibles de Dominga Domínguez
                    </span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right text-white size-6 shrink-0"
                    >
                        <path d="M7 7h10v10"></path>
                        <path d="M7 17 17 7"></path>
                    </svg>
                </div>
                <div
                    class="mb-4 line-clamp-2 text-sm text-muted-foreground md:mb-5 md:text-base"
                >
                    El verano en La Serena y Coquimbo es sinónimo de cielos
                    despejados, brisas marinas y, por supuesto, de una
                    gastronomía que resalta lo mejor del mar y la tierra. En
                    esta temporada, los sabores frescos y las combinaciones
                    innovadoras se convierten en los protagonistas de las mesas
                    de los mejores restaurantes costeros.
                </div>
                <div class="flex items-center gap-2">
                    <span
                        class="relative flex shrink-0 overflow-hidden rounded-full size-12"
                    >
                        <img
                            class="aspect-square h-full w-full"
                            alt="Avatar de usuario"
                            src="https://shadcnblocks.com/images/block/avatar-1.webp"
                        />
                    </span>
                    <div class="flex flex-col gap-px">
                        <span class="text-xs text-muted-foreground">
                            17 Feb 2025
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
