---
import { CheckCircleIcon } from "lucide-react";
import { Image } from "astro:assets";
import Image1 from "@/assets/cta/gallery20.jpg";
import Image2 from "@/assets/cta/gallery39.jpg";
import Image3 from "@/assets/cta/gallery36.jpg";
---

<section class="py-32">
    <div class="max-w-full overflow-hidden pt-10 md:pt-16 lg:pt-20">
        <div
            class="container mx-auto px-4 relative flex flex-col group md:px-0 md:flex-row md:space-x-12"
        >
            <div
                class="mb-[18rem] md:mb-28 md:w-2/3 lg:shrink-0 xl:mb-20 xl:w-1/2"
            >
                <h3
                    class="mb-3 text-4xl text-white font-semibold md:mb-4 md:text-5xl lg:mb-6"
                >
                    Reserva Tu Mesa con Vista al Mar
                </h3>
                <p class="mb-8 text-zinc-400 lg:text-lg lg:max-w-2xl">
                    ¡No te quedes sin vivir la experiencia Dominga Domínguez en
                    nuestro exclusivo tercer piso con vista panorámica!
                </p>
                <a
                    href="https://api.whatsapp.com/send?phone=56974956652&text=Hola!%20Me%20gustaria%20hacer%20una%20reserva%20%E2%98%BA%EF%B8%8F"
                    class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-11 rounded-md px-8"
                >
                    Haz Tu Reserva Ahora
                    <CheckCircleIcon className="w-5 h-5 ml-2" />
                </a>
            </div>
            <div
                class="absolute bottom-0 right-1/2 mr-6 h-min w-[110%] max-w-md translate-x-1/2 md:-right-36 md:mr-0 md:w-3/4 md:max-w-xl md:translate-x-0 lg:mt-auto xl:relative xl:right-0 xl:h-full xl:w-full xl:max-w-full"
            >
                <div class="relative aspect-[8/5] h-full min-h-[16rem] w-full">
                    <div
                        class="absolute right-0 top-0 z-40 flex aspect-[3/5] w-3/5 -translate-x-[24%] translate-y-[24%] -rotate-[30deg] justify-center overflow-clip rounded-3xl bg-background/25 backdrop-blur-md shadow-lg md:max-xl:-translate-x-[8%] md:max-xl:translate-y-[16%] xl:group-hover:-translate-x-[70%] xl:group-hover:translate-y-0 xl:group-hover:-rotate-12 xl:transition-transform xl:ease-in-out"
                    >
                        <Image
                            class="rounded-3xl w-full aspect-[3/5] object-cover 2xl:m-6"
                            src={Image1}
                            alt="cta"
                        />
                    </div>
                    <div
                        class="absolute right-0 top-0 z-40 flex aspect-[3/5] w-3/5 -translate-x-[16%] translate-y-[8%] -rotate-[15deg] justify-center overflow-clip rounded-3xl bg-background/25 backdrop-blur-md shadow-xl md:max-xl:-translate-x-[6%] md:max-xl:translate-y-[6%] xl:group-hover:-translate-x-[40%] xl:group-hover:translate-y-0 xl:group-hover:-rotate-6 xl:transition-transform xl:ease-in-out"
                    >
                        <Image
                            class="rounded-3xl w-full aspect-[3/5] object-cover 2xl:m-6"
                            src={Image2}
                            alt="cta"
                        />
                    </div>
                    <div
                        class="absolute right-0 top-0 z-40 flex aspect-[3/5] w-3/5 justify-center overflow-clip rounded-3xl bg-background/25 backdrop-blur-md shadow-2xl"
                    >
                        <Image
                            class="rounded-3xl w-full aspect-[3/5] object-cover object-bottom 2xl:m-6"
                            src={Image3}
                            alt="cta"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
