---
import { PhoneCall } from "lucide-react";
import { ParallaxCarousel } from "../Gallery";
---

<section id="Gallery" class="relative py-32">
    <div class="container mx-auto">
        <div
            class="absolute inset-x-0 top-0 -z-10 flex h-full w-full items-center justify-center opacity-100 bg-[url(/pattern.svg)] bg-no-repeat bg-center bg-cover bg-blend-multiply"
        >
        </div>
        <div class="mx-auto flex max-w-5xl flex-col items-center">
            <div
                class="z-10 flex w-full flex-col items-center gap-6 text-center"
            >
                <div>
                    <h2
                        class="mb-6 text-pretty text-white text-2xl font-bold lg:text-5xl"
                    >
                        Disfruta de nuestra galería
                    </h2><p class="text-zinc-400 lg:text-xl">
                        Descubre las mejores imágenes de nuestros platillos y
                        bebidas en nuestra galería.
                    </p>
                </div>
                <div class="mt-4 flex justify-center gap-2">
                    <a
                        href="https://api.whatsapp.com/send?phone=56974956652&text=Hola!%20Me%20gustaria%20hacer%20una%20reserva%20%E2%98%BA%EF%B8%8F"
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2"
                    >
                        Has tu reserva
                    </a>
                    <a
                        href="tel:+56974956652"
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
                    >
                        Contáctenos
                        <PhoneCall className="w-4 h-4 ml-2" />
                    </a>
                </div>
                <div class="mt-20 flex w-full flex-col items-center gap-4">
                    <ParallaxCarousel client:only />
                </div>
            </div>
        </div>
    </div>
</section>
