<section class="mt-16">
    <div
        class="absolute top-0 z-[-2] h-screen w-screen bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <div class="container mx-auto flex flex-col items-center">
        <div class="w-full overflow-clip rounded-lg">
            <div class="grid items-center gap-8 lg:grid-cols-2">
                <div
                    class="container flex flex-col items-center px-[4rem] py-16 text-center lg:mx-auto lg:items-start lg:px-[4rem] lg:py-32 lg:text-left"
                >
                    <p class="text-white">New Release</p>
                    <h1
                        class="text-white my-6 text-pretty text-4xl font-bold lg:text-6xl"
                    >
                        Welcome to Our Website
                    </h1>
                    <p class="mb-8 max-w-xl text-zinc-400 lg:text-xl">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Elig doloremque mollitia fugiat omnis! Porro facilis quo
                        animi consequatur. Explicabo.
                    </p>
                    <div
                        class="flex w-full flex-col justify-center gap-2 sm:flex-row lg:justify-start"
                    >
                        <button
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full sm:w-auto"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-arrow-right mr-2 size-4"
                            >
                                <path d="M5 12h14"></path>
                                <path d="m12 5 7 7-7 7"></path>
                            </svg>
                            Primary
                        </button>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <div class="relative aspect-[7/8] h-full w-full">
                        <div
                            class="absolute right-[50%] top-[12%] flex aspect-square w-[24%] justify-center rounded-lg"
                        >
                            <img
                                src="https://domingadominguez.cl/wp-content/uploads/2020/01/32.jpg"
                                alt="Imagen"
                                class="z-10 object-cover w-full h-full rounded-lg"
                            />
                            <img
                                src="https://domingadominguez.cl/wp-content/uploads/2020/01/32.jpg"
                                alt="Imagen"
                                class="absolute z-0 inset-0 blur-lg object-cover w-full h-full rounded-lg"
                            />
                        </div>
                        <div
                            class="absolute right-[50%] top-[36%] flex aspect-[5/6] w-[40%] justify-center"
                        >
                            <img
                                src="https://domingadominguez.cl/wp-content/uploads/2020/01/17.jpg"
                                alt="Imagen"
                                class="z-10 object-cover w-full h-full rounded-lg"
                            />
                            <img
                                src="https://domingadominguez.cl/wp-content/uploads/2020/01/17.jpg"
                                alt="Imagen"
                                class="absolute z-0 inset-0 blur-lg object-cover w-full h-full rounded-lg"
                            />
                        </div>
                        <div
                            class="absolute bottom-[36%] left-[54%] flex aspect-[5/6] w-[40%] justify-center"
                        >
                            <img
                                src="https://domingadominguez.cl/wp-content/uploads/2020/01/8.jpg"
                                alt="Imagen"
                                class="z-10 object-cover w-full h-full rounded-lg object-left"
                            />
                            <img
                                src="https://domingadominguez.cl/wp-content/uploads/2020/01/8.jpg"
                                alt="Imagen"
                                class="absolute z-0 inset-0 blur-lg object-cover w-full h-full rounded-lg object-left"
                            />
                        </div>
                        <div
                            class="absolute bottom-[12%] left-[54%] flex aspect-square w-[24%] justify-center"
                        >
                            <img
                                src="https://domingadominguez.cl/wp-content/uploads/2020/01/20.jpg"
                                alt="Imagen"
                                class="z-10 object-cover w-full h-full rounded-lg"
                            />
                            <img
                                src="https://domingadominguez.cl/wp-content/uploads/2020/01/20.jpg"
                                alt="Imagen"
                                class="absolute z-0 inset-0 blur-lg object-cover w-full h-full rounded-lg"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
