---
import { Image } from "astro:assets";
import { Utensils } from "lucide-react";
import Image1 from "@/assets/menu/Fotos_Oficiales-50.jpg";
import Image2 from "@/assets/menu/Fotos_Oficiales-48.jpg";
import Image3 from "@/assets/menu/Fotos_Oficiales-24.jpg";
import Image4 from "@/assets/menu/Fotos_Oficiales-63.jpg";

const menu = [
    {
        title: "Parmesanos",
        image: Image1,
        description1:
            "Machas a la Parmesana | Suaves y frescas machas gratinadas con queso parmesano derretido, mantequilla y un toque de vino blanco. Un clásico de la cocina chilena, ideal para compartir.",
        description2:
            "Ostiones a la Parmesana | Delicados ostiones servidos en su concha, gratinados con una capa de queso parmesano dorado y un toque de mantequilla para realzar su sabor marino.",
    },
    {
        title: "Pescados Seleccionados",
        image: Image2,
        description1:
            "Congrio Medallón | Filete de congrio servido en un medallón jugoso, cocinado a la parrilla para resaltar su sabor suave y natural, acompañado de una guarnición a elección.",
        description2:
            "Congrio Frito | Filete de congrio frito en una crujiente tempura dorada, manteniendo su interior jugoso y tierno. Perfecto para quienes disfrutan de un pescado con textura crujiente y gran sabor.",
    },
    {
        title: "Especialidades de la Casa",
        image: Image4,
        description1:
            "Risotto Dominga (Camarón - Palta) | Cremoso risotto elaborado con un sofrito delicado, camarones frescos y un toque de palta que aporta suavidad y frescura. Una combinación perfecta entre mar y tierra.",
        description2:
            "Fetuccini con Filete de Carne a la Crema | Pasta fresca bañada en una salsa de crema suave, con filete de carne jugoso en finos cortes, ofreciendo un plato con gran textura y sabor equilibrado.",
    },
    {
        title: "Salsas Verdes",
        image: Image3,
        description1:
            "Erizos en Salsa Verde | Erizos frescos servidos en una salsa verde intensa, preparada con un aliño especial que resalta el sabor del mar. Una explosión de sabor y tradición.",
        description2:
            "Ostiones en Salsa Verde | Ostiones bañados en una salsa de perejil y ajo, con notas cítricas que potencian su frescura. Una alternativa perfecta para quienes buscan un plato con carácter marino.",
    },
];
---

<section id="Menu" class="py-32">
    <div class="container mx-auto px-2">
        <h2 class="mb-6 text-center text-white text-5xl font-semibold">
            Nuestro Menú | Sabor y Tradición en Cada Plato
        </h2>
        <p class="m-auto max-w-3xl text-center text-xl text-zinc-300">
            Descubre lo mejor de la cocina de mar y tierra en Coquimbo, con
            ingredientes frescos y una combinación de tradición e innovación.
        </p>
        <p class="m-auto mt-3 max-w-2xl text-center text-sm text-zinc-500">
            Ubicado en Caleta de Peñuelas, Coquimbo
            <br />
            Nuestros horarios son de lunes a domingo de 12:00 a 23:00 horas.
        </p>
        <a
            class="mx-auto mt-8 block w-fit rounded-full border-2 border-muted bg-white px-6 py-4 text-sm font-semibold transition hover:border-muted-foreground"
            href="https://api.whatsapp.com/send?phone=56974956652&text=Hola!%20Me%20gustaria%20hacer%20una%20reserva%20%E2%98%BA%EF%B8%8F"
        >
            Reserva tu Mesa
        </a>
        <div class="mx-auto mt-16 flex flex-col gap-6 md:flex-row">
            {
                menu.map((item, index) => (
                    <div class="block">
                        <Image
                            src={item.image}
                            alt="placeholder"
                            class="mb-6 h-full max-h-72 w-full rounded-2xl object-cover transition hover:brightness-90 lg:max-h-96"
                        />
                        <h6 class="mb-3 text-lg text-white font-semibold">
                            {item.title}
                        </h6>
                        <div class="flex justify-center items-center gap-2 mb-3">
                            <Utensils className="size-5 text-primary" />
                            <p class="text-sm text-zinc-300 flex items-center text-balance gap-2 w-[90%]">
                                {item.description1}
                            </p>
                        </div>
                        <div class="flex justify-center items-center gap-2">
                            <Utensils className="size-5 text-primary" />
                            <p class="text-sm text-zinc-300 flex items-center text-balance gap-2 w-[90%]">
                                {item.description2}
                            </p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
