---
import { HandPlatter } from "lucide-react";

interface MenuItem {
    title: string;
    price: number;
    description: string;
}

const menuItems: MenuItem[] = [
    {
        title: "Perol",
        price: 16500,
        description:
            "(Surtido de mariscos cocidos al vapor servidos fríos con salsa verde)",
    },
    {
        title: "Mariscal",
        price: 16500,
        description: "(Surtido de mariscos con salsa verde)",
    },
    {
        title: "Jaiba Reina",
        price: 18500,
        description: "(Jaiba montada en cama de lechuga y ensaladilla)",
    },
    {
        title: "Locos",
        price: 21500,
        description: "(Locos con papas mayo y salsa verde)",
    },
    {
        title: "Pulpo",
        price: 18500,
        description: "Pulpo con papas mayo y salsa verde",
    },
    {
        title: "Pulpo al Olivo",
        price: 18500,
        description: "",
    },
    {
        title: "Carpaccio de Salmón",
        price: 17500,
        description:
            "(Finas láminas de salmón, alcaparras, limoneta y queso parmesano)",
    },
    {
        title: "Carpaccio de Filete",
        price: 17500,
        description:
            "(Finas láminas de filete, alcaparras, limoneta y queso parmesano)",
    },
    {
        title: "César Pollo",
        price: 15500,
        description: "",
    },
    {
        title: "César Camarones",
        price: 17500,
        description: "",
    },
    {
        title: "Palta Cleopatra",
        price: 17500,
        description: "(Jaiba montada en cama de lechuga y ensaladilla)",
    },
    {
        title: "Palta Cardenal",
        price: 16500,
        description:
            "(Camarones al vapor o crudos montado en cama de lechuga y ensaladilla)",
    },
    {
        title: "Palta Mixta",
        price: 17900,
        description:
            "(Camarón nacional y jaiba, montada en cama de lechuga y ensaladilla)",
    },
];
function formatPrice(price: number): string {
    return price
        .toLocaleString("es-CL", { style: "currency", currency: "CLP" })
        .replace("CLP", "")
        .trim();
}
---

<section>
    <div class="container mx-auto md:px-4 py-20">
        <h1
            class="sticky z-20 bg-zinc-900/70 backdrop-blur-lg border-zinc-50/20 rounded-lg shadow-md py-2 top-16 w-full text-3xl font-bold text-center mb-4 text-primary"
        >
            Entradas
            <HandPlatter size={32} className="inline-block" />
        </h1>
        <div class="grid gap-3 md:grid-cols-2 lg:grid-cols-3 px-4">
            {
                menuItems.map((item, index) => (
                    <div class="bg-zinc-400/10 backdrop-blur-lg border-zinc-50/20 rounded-lg shadow-md overflow-hidden">
                        <div class="p-6">
                            <div class="flex justify-between items-center mb-2">
                                <h2 class="text-xl font-semibold text-white">
                                    {item.title}
                                </h2>
                                <span class="text-lg font-bold text-primary">
                                    {formatPrice(item.price)}
                                </span>
                            </div>
                            <p class="text-zinc-300">{item.description}</p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
