---
import { FishIcon } from "lucide-react";

interface MenuItem {
    title: string;
    price: number;
    description: string;
}
interface Props {
    menuItems: Array<MenuItem>;
}
function formatPrice(price: number): string {
    return price
        .toLocaleString("es-CL", { style: "currency", currency: "CLP" })
        .replace("CLP", "")
        .trim();
}
const { menuItems } = Astro.props as Props;
---

<section>
    <div class="container mx-auto md:px-4 py-10">
        <h1
            class="sticky z-20 bg-zinc-900/70 backdrop-blur-lg border-zinc-50/20 rounded-lg shadow-md py-2 top-16 w-full text-3xl font-bold text-center mb-4 text-primary"
        >
            Pescados
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-fish inline-block ml-2 mb-1"
                ><path
                    d="M6.5 12c.94-3.46 4.94-6 8.5-6 3.56 0 6.06 2.54 7 6-.94 3.47-3.44 6-7 6s-7.56-2.53-8.5-6Z"
                ></path><path d="M18 12v.5"></path><path
                    d="M16 17.93a9.77 9.77 0 0 1 0-11.86"></path><path
                    d="M7 10.67C7 8 5.58 5.97 2.73 5.5c-1 1.5-1 5 .23 6.5-1.24 1.5-1.24 5-.23 6.5C5.58 18.03 7 16 7 13.33"
                ></path><path
                    d="M10.46 7.26C10.2 5.88 9.17 4.24 8 3h5.8a2 2 0 0 1 1.98 1.67l.23 1.4"
                ></path><path
                    d="m16.01 17.93-.23 1.4A2 2 0 0 1 13.8 21H9.5a5.96 5.96 0 0 0 1.49-3.98"
                ></path></svg
            >
        </h1>
        <p class="text-center max-w-xl mx-auto text-balance text-gray-300 mb-8">
            (La disponibilidad de nuestros productos depende de la temporada,
            vedas y meteorología) (opciones incluyen un acompañamiento: arroz,
            papas mayo, ensalada chilena o ensalada surtida).
        </p>
        <div class="grid gap-3 md:grid-cols-2 lg:grid-cols-3 px-4">
            {
                menuItems.map((item, index) => (
                    <div class="bg-zinc-400/10 backdrop-blur-lg border-zinc-50/20 rounded-lg shadow-md overflow-hidden">
                        <div class="p-6">
                            <div class="flex justify-between items-center mb-2">
                                <h2 class="text-xl font-semibold text-white">
                                    {item.title}
                                </h2>
                                <span class="text-lg font-bold text-primary">
                                    {formatPrice(item.price)}
                                </span>
                            </div>
                            <p class="text-zinc-300">{item.description}</p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
