---
import { Soup } from "lucide-react";

interface MenuItem {
    title: string;
    price: number;
    description: string;
}

const menuItems: MenuItem[] = [
    {
        title: "Sopa Marinera",
        price: 14800,
        description: "Marisco Surtidos",
    },
    {
        title: "Consome de mariscos",
        price: 9500,
        description: "",
    },
    {
        title: "Chupín",
        price: 17900,
        description: "(Caldillo de congrio con crema o leche)",
    },
    {
        title: "Caldillo Marino",
        price: 19900,
        description: "(Caldillo de congrio y mariscos surtidos)",
    },
    {
        title: "Paila Marina",
        price: 17800,
        description: "(Mariscos surtidos y conchas)",
    },
    {
        title: "Caldillo de Vieja",
        price: 18900,
        description: "",
    },
    {
        title: "Caldillo de Congrio",
        price: 17900,
        description: "",
    },
    {
        title: "Caldillo Dominga",
        price: 18900,
        description: "(Caldillo de congrio o vieja con camarones)",
    },
];
function formatPrice(price: number): string {
    return price
        .toLocaleString("es-CL", { style: "currency", currency: "CLP" })
        .replace("CLP", "")
        .trim();
}
---

<section>
    <div class="container mx-auto md:px-4 py-20">
        <h1
            class="sticky z-20 bg-zinc-900/70 backdrop-blur-lg border-zinc-50/20 rounded-lg shadow-md py-2 top-16 w-full text-3xl font-bold text-center mb-4 text-primary"
        >
            Sopas
            <Soup size={32} className="inline-block mb-1.5" />
        </h1>
        <div class="grid gap-3 md:grid-cols-2 lg:grid-cols-3 px-4">
            {
                menuItems.map((item, index) => (
                    <div class="bg-zinc-400/10 backdrop-blur-lg border-zinc-50/20 rounded-lg shadow-md overflow-hidden">
                        <div class="p-6">
                            <div class="flex justify-between items-center mb-2">
                                <h2 class="text-xl font-semibold text-white">
                                    {item.title}
                                </h2>
                                <span class="text-lg font-bold text-primary">
                                    {formatPrice(item.price)}
                                </span>
                            </div>
                            <p class="text-zinc-300">{item.description}</p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
