---
export const prerender = false;
import LayoutMenu from "@/layouts/LayoutMenu.astro";
import { Info } from "lucide-react";
import MenuComponent from "@/components/interface/menuAlimentos";
---

<LayoutMenu
    title="Menu - Carta | Dominga Dominguez"
    description="Carta de platos y bebidas del restaurante"
    canonical="https://www.domingadominguez.cl/cartas/carta-menu"
>
    <section class="container mx-auto py-20">
        <h1 class="text-3xl font-bold text-center mb-8 text-white">
            Carta Menú
        </h1>
        <p class="text-center text-zinc-300 text-pretty px-2 mb-8">
            <!-- <Info size={24} className="inline-block mr-2" /> -->
            Estimado Cliente si desea solicitar factura, la cancelación debe de ser
            en efectivo o transferencia. Gracias.
        </p>
        <MenuComponent client:only />
    </section>
</LayoutMenu>
