---
import Carnes from "@/components/interface/menu/Carnes.astro";
import Ceviches from "@/components/interface/menu/Ceviches.astro";
import Entradas from "@/components/interface/menu/Entradas.astro";
import Pescados from "@/components/interface/menu/Pescados.astro";
import LayoutMenu from "@/layouts/LayoutMenu.astro";
import { Info } from "lucide-react";
---

<LayoutMenu title="Cartas">
    <section class="container mx-auto py-20">
        <h1 class="text-3xl font-bold text-center mb-8 text-white">
            Carta Menú
        </h1>
        <p class="text-center text-zinc-300 text-pretty px-2 mb-8">
            <Info size={24} className="inline-block mr-2" />
            Estimado Cliente si desea solicitar factura, la cancelación debe de ser
            en efectivo o transferencia. Gracias.
        </p>
        <Pescados />
        <Carnes />
        <Entradas />
        <Ceviches />
    </section>
</LayoutMenu>
