---
import Especialidades from "@/components/interface/menu/Especialidades.astro";
import SalsasVerdes from "@/components/interface/menu/SalsasVerdes.astro";
import Vegetariano from "@/components/interface/menu/Vegetariano.astro";
import Agregados from "@/components/interface/menu/Agregados.astro";
import Cafeteria from "@/components/interface/menu/Cafeteria.astro";
import Parmesano from "@/components/interface/menu/Parmesano.astro";
import Alpilpil from "@/components/interface/menu/Alpilpil.astro";
import Apanados from "@/components/interface/menu/Apanados.astro";
import Ceviches from "@/components/interface/menu/Ceviches.astro";
import Entradas from "@/components/interface/menu/Entradas.astro";
import MenuKids from "@/components/interface/menu/MenuKids.astro";
import Pescados from "@/components/interface/menu/Pescados.astro";
import Postres from "@/components/interface/menu/Postres.astro";
import Carnes from "@/components/interface/menu/Carnes.astro";
import Chupes from "@/components/interface/menu/Chupes.astro";
import Salsas from "@/components/interface/menu/Salsas.astro";
import Sopa from "@/components/interface/menu/Sopa.astro";
import LayoutMenu from "@/layouts/LayoutMenu.astro";
import { Info } from "lucide-react";
---

<LayoutMenu
    title="Menu - Carta"
    description="Carta de platos y bebidas del restaurante"
>
    <section class="container mx-auto py-20">
        <h1 class="text-3xl font-bold text-center mb-8 text-white">
            Carta Menú
        </h1>
        <p class="text-center text-zinc-300 text-pretty px-2 mb-8">
            <Info size={24} className="inline-block mr-2" />
            Estimado Cliente si desea solicitar factura, la cancelación debe de ser
            en efectivo o transferencia. Gracias.
        </p>
        <Pescados />
        <Carnes />
        <Entradas />
        <Ceviches />
        <Vegetariano />
        <Chupes />
        <Salsas />
        <Agregados />
        <SalsasVerdes />
        <Apanados />
        <Parmesano />
        <Alpilpil />
        <MenuKids />
        <Sopa />
        <Especialidades />
        <Cafeteria />
        <Postres />
    </section>
</LayoutMenu>
